 /* Header style */

 .img-logo{
    height: 20%;
    width: 200px;
    margin-top: -20px;
    margin-left: 10%;
} 
.header-form-width{
    width:730px !important;
}
.navbar{
    box-shadow: 0 1px 0 rgba(12,13,14,0.1), 0 1px 6px rgba(59,64,69,0.1);
}
.nav-item{
    margin:0px 15px;
    color: #848d95;
}
.nav-icons{
    margin-left: 70px;
}

/* end of header style */

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}