/* number margins */

.numeber-margins{
    margin-top:15px;
    margin-left:5px;

}

/* end of number margins */

/* fontsize f12 */
.fs12{
    font-size: 12px;
}
/* end of font size of 12 */

/* marginTop 50 */
.m50{
    margin-top: 50px;
}
/* end of marginTop 50*/

/* fontsize 14 */
.fs14{
    font-size: 14px;
}

/* end fo fontsize 14 */

/* fontsize 15 */
.fs15{
    font-size: 15px;
}
/* end of fontsize 15 */

/* margin 5 */
.m5{
    margin:5px;
}

/* margin left 12 */
.ml12{
    margin-left:12px;
}
/* end of margin lef */

/* inception of body */
.content-body{
    margin-top:8%;
}
.body-section{
    /* margin-top:10%; */
    width: 900px;
    margin: 20px auto 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 16px;
    line-height: 1.4;
    position: relative;
}

.content-title{
    font-size: 28px!important;
    color: #0C0D0E !important;
    font-weight: normal;
    text-shadow: 0 1px 0 #FFF;
    text-align: center;
}
.site-icon{
    width:158px;
    height: 158px;
    left: 40%;
    position: relative;
   margin-bottom: 1%;
}
.helper-text{
    font-style: italic;
}

hr.style7 {
	border-top: 1px solid #8c8b8b;
    border-bottom: 1px solid #fff;
    margin-top:40px;
    margin-bottom:40px;

}
.ask-question-left-side{
    width: 320px;
    /* float: left; */
    font-size: 14px;
    margin-bottom: 30px;
    margin-top:50px;
}
.content-page-p{
    margin-bottom: 1.5em;
}
.just-question{
    width: 225px;
    float: right;
    margin-top: 1.5em;
    margin-bottom: 3em;
}
.just-question-arrow
{
    overflow: auto;
    clear: both;
    /* margin-top: 60px; */
    padding-top: 5px;
}
.just-ans{
    position: relative;
    z-index: 100;
    top: 71.0938px;
    /* left: 46px; */
}
.just-ans-arrow{
    background-position: -4px -149px;
    width: 99px;
    height: 60px;
}
.good-answers{
    clear: both;
    padding-left: 50px;
    margin-bottom: 3em;
}
.accept-answers
{
    clear: both;
    padding-left: 50px;
    margin-bottom: 3em;
}
.accept-answers-img{
    background-image: url("../images/check-mark.svg");
}
.ask-question-right-side
{
    width: 530px;
    float: right;
    font-size: 14px;
    margin-bottom: 30px;
    overflow: hidden;
}
/* box shadow */ 
.shadow{
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
  
}
/* end of box shadow */ 

.question-block{
    left: 0px;
    height: 674px;
}
.question-header{
    margin-bottom: 1em;
    white-space: nowrap;
    width: 550px;
    overflow-x: hidden;
}
.style3{
    border-top: 1px solid #8c8b8b;
   
}
.exchange-network-p{

    margin:30px;
}
.huge-buttons {
    width: 25%;
    padding: 1.5em 0;

    display: inline-block;

}
 .btn-primary-right{
     margin-top:30px;
    height: 71px !important;
    font-size: 16px !important;
    margin-left:24%;

}
.btn-primary-left{
    margin-top:30px;
   height: 71px !important;
   font-size: 16px !important;
   margin-left:18%;

}
.ask-qun-ans-p{
    margin-left: 18%;
    margin-top:45px;
}
.editing{
    height: 121px;
}
.comments{
    margin-top:70px;
}
.comments-editing{
    margin-top: 50px;
}
.edit_comment{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 14px;
}
.post-signature{
    text-align: left;
    vertical-align: top;
    width: 200px;
    float:right;
}
.user-info {
    box-sizing: border-box;
    padding: 5px 6px 7px 7px;
    width: 200px;
    color: #6a737c;
}
.comment-footer{
    width: 460px;
    clear: both;
    padding: 10px 0;
    color: #6a737c;
    margin-left: 30px;
    overflow: hidden;
   
}
.comment-p
{
    overflow-x: hidden;
    font-size: 14px;
    z-index: -10;
}
.comment-right{
    overflow-x:hidden!important;
}
.user-info-profile{
    background: #FFF;
    border: 1px solid #d6d9dc;
    box-shadow: 0 1px 1px rgba(12,13,14,0.2);
    padding: 10px;
    display: inline-block;
    width: 200px;
    margin-right: 20px;
}
.user-info-logo{
    width: 48px;
    height: 48px;
    background-position: 0 -372px;
    margin-right: 10px;
    float: left;
}
 .rep-block {
    width: 70px;

    text-align: center;
    font-size: 12px;
    color: #6a737c;
    font-style: italic;

}
.posts-voted{
    color: #4c9067;
    font-size: 13px;
    text-align: center;
    display: block;
    margin: 0 auto;
    font-style: normal;
    margin-bottom: 15px;
}
.fr{
    float: right !important;
}
.margin-left-comments{
    margin-left: -38px;
}
.table-left{
    font-size: 15px;
    margin-left: 100px;
    position: absolute;
}
.qa-block {
    overflow: hidden;
    border-right-width: 0;
    padding: 10px 10px 0;
}
.question-header{
    margin-bottom: 1em;
    white-space: nowrap;
    width: 550px;
}
.question-hyperlink{
    font-size: 26px;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    line-height: 1.35;
    font-weight: normal;
   
    color: #242729;
}
.owner{
    border-radius: 3px;
    background-color: #E1ECF4;
    float: right;
    margin-top: 50px;
}
.post-signature {
    text-align: left;
    vertical-align: top;
    width: 200px;
}
.gravatar-wrapper-32 img {
    width: 32px;
    height: 32px;
}

.user-details {
    margin-left: 8px;
    width: calc(100% - 40px);
}
.accept-answer-img-svg{
    width: 30px;
    height: 40px;
    top: 37px;
    position: relative;
    margin-left: -66px;
}
.top_down_button_icon{
    width: 25px;
    height: 25px;
    cursor: pointer;
    
}

/* media queries */


@media only screen and (max-width: 768px) {
    .btn-primary-right{
        margin-top:30px;
       height: 71px !important;
       font-size: 16px !important;
       margin-left:4%;
    
    }  
}
  @media only screen and (max-width: 578px) {
    
    .fs12{
        font-size: 28px;
    }
    .fs14{
        font-size: 133%;
    }
    .f20{
        font-size:150%;
    }
  }


/* end of inception body */