

/* marginTop 50 */
.m30{
    margin-top: 30px;
}
/* end of marginTop 50*/
.hamburger {
  cursor: pointer;
  position: fixed;
  /* right: 20px; */
  top: 20px;
  background-color: red;
  float: left;
  z-index: 10000;

  
}
.hamburger.inactive {
  height: 30px;
  width: 30px;
  transition: all 0.5s ease-in-out;
  transition-delay: 0.4s;
}
.hamburger.inactive ul {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  transition-delay: 0s;
  
}
.hamburger.active {
  background: #eee;
  width: 240px;
  height: 400px;
  transition: all 0.5s ease-in-out;
}
.hamburger.active ul {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  transition-delay: 0.5s;
  list-style: none;
}
.hamburger.active .lines {
  background: #fab800;
}

.menu {
  cursor: pointer;
  text-align: left;
  margin: 30px 0 30px 0;
  width: 100%;
 
}
.menu li {
  /* line-height: 40px; */
  width: 100%;
  list-style: none;
  line-height: 1.8;
  font-size: 13px;
}
.menu li:hover {
    color:black;
}

.lines {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 0;
}
.lines:hover {
  background: #fab800;
}
.lines span {
  background: #fff;
  display: block;
  width: 20px;
  height: 2px;
  position: absolute;
  left: 5px;
}
.lines span:first-of-type {
  top: 10px;
}
.lines span:nth-of-type(2) {
  top: 15px;
}
.lines span:nth-of-type(3) {
  top: 20px;
}
